
/* @primary-color: #005EA7;
@text-color: #252525;
@light-text-color: #a4a4a4;
@accent-color: #FFAE53;
@disabled-color: #ABCAE2; */

ActionBar{
  background-color: white;
  border: none;
  box-shadow: none;
  margin-left: -20;
}

.actionBarHome{
  margin-top: 25;
}

.actionBarComponent{
  margin-top: 0;
}

.image{
  width: 300;
  margin-top: 20;
}

.logo{
  width: 100;
  margin-left: 20;
  margin-bottom: 5;
}

.main-header{
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20;
  font-family: Calibri, sans-serif;
  color: #252525;
  margin-left: 20;
}

.instruction{
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  color: #a4a4a4;
  margin-bottom: 120px;
  margin-left: 20;
}

.content-text{
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  color: #252525;
  margin-bottom: 120px;
}

.single-line-text {
  margin-bottom: 10;
}

.foundDevices{
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-block-start: 0;
  color: #a4a4a4;
}

.button{
  color: white;
  margin-bottom: 50px;
  text-decoration: none;
  text-align: center;
  width: 290;
  padding: 40px;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0 0 white;
  border: none;
  font-family: Calibri, sans-serif;
}

.button-primary {
  background-color: #005EA7;
}

.button-primary:active{
  background-color: #FFAE53;
  box-shadow: none;
  outline: none;
}


.button-disabled {
  background-color: #ABCAE2;
}

.button-disabled:hover{
  cursor: not-allowed;
}

a.home {
  text-decoration: none;
  font-size: 28px;
  color: black;
}

a.home:visited{
  color: black;
}

a.home:hover{
  cursor: pointer;
}

.errorMessage{
  color: red;
}

.successMessage{
  color: green;
}

.textInput{
  margin-bottom: 20;

}

.back{
  background-color: transparent;
  width: 30;
  font-size: 30px;
  border: 0 solid transparent;
  outline: 0px solid transparent;
  box-shadow: none;
  padding: 0;
}





