<ScrollView>
    <ActionBar flat="true" class="actionBarHome">
        <StackLayout>
            <image src="~/assets/images/CM_Logo.png" stretch="aspectFill" class="logo"></image>
            <label textWrap="true" textAlignment="center" class="main-header">
                <FormattedString>
                    <span text="Lass uns sehen, was diese&#xa;"></span>
                    <span text="App alles kann"></span>
                </FormattedString>
            </label>
            <label textWrap="true" textAlignment="center" class="instruction">
                <FormattedString>
                    <span text="Drücke einen Button, um eine Funktionalität zu&#xa;"></span>
                    <span text="testen."></span>
                </FormattedString>
            </label>
        </StackLayout>
    </ActionBar>
    <StackLayout class="content-container">
        <Button text="Offline-Nutzung (A2)" class="button button-primary" textTransform="none"
                (tap)="onTapFunctionality('offline-usage')"></Button>
        <Button text="Zugriff auf Kamera (A3) " class="button button-primary" textTransform="none" (tap)="onTapFunctionality('camera')"></Button>
        <Button text="Zugriff auf Mikrofon (A4)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('microphone')"></Button>
        <Button text="Zugriff auf Vibrationsaktor (A5)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('vibration')"></Button>
        <Button text="Benachrichtigung (A6)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('notification')"></Button>
        <Button text="Zugriff auf GPS (A7)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('location')"></Button>
        <Button text="Zugriff auf lokale Dateien (A8)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('files')"></Button>
        <Button text="Zugriff auf Bluetooth (A9)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('bluetooth')"></Button>
        <Button text="Teilen in anderer App (A10)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('share')"></Button>
        <Button text="Zugriff auf Kontakte (A11)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('contacts')"></Button>
        <Button text="Passwortlos authentifizieren (A12)" class="button button-primary long-button-text" textTransform="none" (tap)="onTapFunctionality('authentication')"></Button>
        <Button text="Barcode Scanner (A13)" class="button button-disabled" textTransform="none"></Button>
        <Button text="Screen Wake Lock (A14)" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('wake-lock')"></Button>
    </StackLayout>
</ScrollView>






