<ScrollView>
    <ActionBar flat="true">
        <StackLayout>
            <image src="~/assets/images/Check_mobile_icon.png" stretch="aspectFill"></image>
            <label textWrap="true" textAlignment="center" class="main-header">
                <FormattedString>
                    <span text="Lass uns sehen, was diese&#xa;"></span>
                    <span text="App alles kann"></span>
                </FormattedString>
            </label>
            <label textWrap="true" textAlignment="center" class="instruction">
                <FormattedString>
                    <span text="Klicke einen Button, um eine Funktionalität zu&#xa;"></span>
                    <span text="testen"></span>
                </FormattedString>
            </label>
        </StackLayout>
    </ActionBar>
    <StackLayout class="content-container">
        <button text="Offline-Nutzung" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('offline-usage')"></button>
        <button text="Zugriff auf Kamera" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('camera')"></button>
        <button text="Zugriff auf Mikrofon" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('microphone')"></button>
        <button text="Zugriff auf Vibrationsaktor" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('vibration')"></button>
        <button text="Push-Benachrichtigung" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('notification')"></button>
        <button text="Zugriff auf GPS" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('location')"></button>
        <button text="Zugriff auf lokale Dateien" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('files')"></button>
        <button text="Zugriff auf Bluetooth" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('bluetooth')"></button>
        <button text="Teilen in anderer App" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('share')"></button>
        <button text="Zugriff auf Kontakte" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('contacts')"></button>
        <button text="Screen Wake Lock" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('wake-lock')"></button>
        <button text="Barcode Scanner" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('barcode')"></button>
        <button text="Passwortlos authentifizieren" class="button button-primary" textTransform="none" (tap)="onTapFunctionality('authentication')"></button>
    </StackLayout>
</ScrollView>






